@font-face {
  font-family: "Michroma";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/michroma-400.woff2") format("woff2");
  font-display: swap;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* :root {
    --basic-extra-dark: #242424;
    --basic-dark: #595959;
    --basic-light: #e7e7e7;
    --basic-extra-light: #f6f6f6;
  } */

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  /* line-height: ; */
  margin: 0;
  color: #1E1E1E;
}

.width_container {
  width: 1500px;
  margin: 0 auto;
}

/* header */

.main_header {
  width: 100%;
  position: relative;
}

.header_info {
  background-color: #F1F1F1;
}

.header_container {
  display: flex;
}

.info_social_list {
  display: flex;
  gap: 25px;
  list-style-type: none;
  margin: 0;
  margin-right: auto;
  padding: 0;
}

.info_social_item {
  padding: 0;
  width: 25px;
  height: 25px;
}

.info_social_link {
  display: block;
}

.info_social_link:hover {
  opacity: 80%;
}

.social_svg {
  width: 25px;
  height: 25px;
}

.info_user_list {
  display: flex;
  gap: 50px;
  list-style-type: none;
  margin: 0;
  margin-right: 20px;
  padding: 0;
}

.info_user_item {
  display: flex;
  gap: 10px;
}

.info_address {
  font-style: normal;
}

.address_svg {
  width: 20px;
  height: 20px;
}

.navigation_user_link {
  text-decoration: none;
  color: #1E1E1E;
}

.switch_language_list {
  display: flex;
  gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header_contacts {
  /* height: 500px; */
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  z-index: 2;
}

.header_contacts::after {
  content: "";
  /* display: block; */
  position: absolute;
  width: 1500px;
  height: 1px;
  bottom: 0;
  background-color: #b8b8b8;
}

.header_logo_link {
  grid-column: 1/2;
  justify-self: flex-start;
}

.header_contacts_address {
  grid-column: 2/3;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.contact_address_link {
  text-decoration: none;
  color: #1E1E1E;
}

/* navigation */

.navigation {
  display: flex;
  padding: 22px 0;
}

.navigation_list {
  display: flex;
  gap: 25px;
  list-style-type: none;
  margin: 0;
  margin-right: auto;
  padding: 0;
}

.navigation_link {
  text-decoration: none;
  color: #1E1E1E;
}

.header_form_input {
  font-family: "Michroma";
  font-weight: 400;
  font-size: 100%;
  /* Mojno kak to inache s font-size? */
  border: none;
  outline: none;
}

/* carusel */

.carousel_section {
  margin: 0 auto;
  width: 90%;
  max-height: 845px;
  max-width: 1500px;
}

.carousel_wrapper {
  width: 100%;
  position: relative;
}

.carousel_button {
  font-size: 1.5rem;
  color: white;
  background: #b8b8b8;
  width: 50px;
  height: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
}

.carousel_button_left {
  top: 50%;
  left: -80px;
}

.carousel_button_right {
  top: 50%;
  right: -80px;
}

.carousel_prev_arrow,
.carousel_next_arrow {
  opacity: .5;
}

.carousel_prev_arrow {
  transform: rotateY(180deg);
}

.carousel_prev_arrow:hover,
.corusel_next_arrow:hover,
.carousel_button:hover .carousel_prev_arrow,
.carousel_button:hover .carousel_next_arrow {
  opacity: 1;
}

.carousel_list {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  margin: 0 auto;
  padding: 0;
  overflow: scroll;
  font-size: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: pointer;
  scroll-behavior: smooth;
  list-style-type: none;
}

.carousel_list.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel_list::-webkit-scrollbar {
  display: none;
}

.carousel_item {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.carousel_item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/* media */

/* break points
  1800px;
  1024px;
*/

@media (max-width:1800px) {

  /* carousel */
  .carousel_button_left {
    top: 50%;
    left: 20px;
  }

  .carousel_button_right {
    top: 50%;
    right: 20px;
  }
}

@media (max-width:1024px) {

  /* carousel */
  .carousel_button_left,
  .carousel_button_right {
    display: none;
  }
}